header {
    color: cadetblue;
}
#header-1:hover {
    color:blueviolet;
}
button:hover {
    color:aliceblue;
    background-color: aqua;

}
#stock-or-not {
    color: red;
}

button {
    text-decoration-color: crimson;
    background-color: yellowgreen;
    width: 95px;
    height: 95px;
    position: left;
    margin-left: auto;
}
button:hover {
    text-decoration-color: yellowgreen;
    background-color: crimson;
}
/*#about {
    color: dimgray;
    background-color: yellow;
    margin-left: auto;
}
#about:hover{
    color: yellow;
    background-color: dimgray
}*/
#adding:hover{
    color: brown;
}
#copyright {
    color: plum;
    font-size: 12px;
}
#updates {
    background-color: blue;
}
#updates:hover{
    background-color: blueviolet;
}
.ending {
    border-bottom: dotted;
    border-color: black;
}
.ending:hover{
    border-color: darkorange;
    color: darkorange;
}
#body2 {
    background-color: darkolivegreen;
}
#real-body {
     background-color: whitesmoke;
}
#done {
    border: cross;
    color: aqua;
    background-color: blanchedalmond;
}
.donate{
    border-style: dotted;
    text-emphasis: large;
    border-image: url(Naskh.jpg.jpg)
}
.dotted:focus{
    border-style: dashed;
    text-decoration-color: blue;
    color: blue;
    border-style: round;
}
#submit-to-donate{
    border-style: groove;
    border-color: red;
}